.cardscontainer {
  min-height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cards {
  position: relative;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.cardImage {
  width: 160px;
  height: 100px;
  object-fit: fill;
  transition: transform 0.2s;
  border-radius: 2px;
}

.cards .cardImage:hover {
  cursor: pointer;
  transform: scale(1.067);
}

.randomtext {
  margin-top: 10px;
  max-width: 1050px;
  text-align: justify;
  font-family: monospace;
}

.randomtextinner p {
  font-size: 14px;
  line-height: 1.3;
  color: rgb(58, 57, 57);
  letter-spacing: 0.5px;
  margin: 0;
}

.hoverBox1 {
  position: absolute;
  bottom: 90px; /* adjust to appear above cards */
  right: -380px; /* center horizontally relative to container */
  transform: translateX(-50%);
  display: flex;
  flex-direction: column; /* change to row for side preview */
  gap: 10px;
  padding: 10px;
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none; /* makes it so the hover box is not staying when hovered */
  z-index: 1000;
}
.hoverBox2 {
  position: absolute;
  top: 95px; /* adjust to appear above cards */
  right: -400px; /* center horizontally relative to container */
  transform: translateX(-50%);
  display: flex;
  flex-direction: column; /* change to row for side preview */
  gap: 10px;
  padding: 10px;
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
  z-index: 1000;
}
.hoverBox3 {
  position: absolute;
  bottom: 120px; /* adjust to appear above cards */
  left: 200px; /* center horizontally relative to container */
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
  z-index: 1000;
}
.hoverBox4 {
  position: absolute;
  top: 30px; /* adjust to appear above cards */
  left: 130px; /* center horizontally relative to container */
  transform: translateX(-50%);
  display: flex;
  flex-direction: column; /* change to row for side preview */
  gap: 10px;
  padding: 10px;
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
  z-index: 1000;
}
.hoverBox5 {
  position: absolute;
  bottom: 110px; /* adjust to appear above cards */
  left: 280px; /* center horizontally relative to container */
  transform: translateX(-50%);
  display: flex;
  flex-direction: column; /* change to row for side preview */
  gap: 10px;
  padding: 10px;
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
  z-index: 1000;
}
.hoverBox6 {
  position: absolute;
  top: 10px; /* adjust to appear above cards */
  left: 300px; /* center horizontally relative to container */
  transform: translateX(-50%);
  display: flex;
  flex-direction: column; /* change to row for side preview */
  gap: 10px;
  padding: 10px;
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
  z-index: 1000;
}

.hoversmalltext {
  flex-direction: column;
}

.hoverTitle {
  font-size: 15px;
  font-weight: bold;
  color: #444;
}

.hoverBox p {
  font-size: 14px;
  color: #444;
}

.hoverBox1 img {
  width: auto;
  height: auto;
  max-width: 500px;
  max-height: 500px;
  object-fit: contain; /* ensures full image is visible without cropping */
  border-radius: 5px;
}

.hoverBox2 img {
  width: auto;
  height: auto;
  max-width: 450px;
  max-height: 450px;
  object-fit: contain; /* ensures full image is visible without cropping */
  border-radius: 5px;
}

.hoverBox3 img {
  width: auto;
  height: auto;
  max-width: 550px;
  max-height: 550px;
  object-fit: contain; /* ensures full image is visible without cropping */
  border-radius: 5px;
}

.hoverBox4 img {
  width: auto;
  height: auto;
  max-width: 450px;
  max-height: 450px;
  object-fit: contain; /* ensures full image is visible without cropping */
  border-radius: 5px;
}

.hoverBox5 img {
  width: auto;
  height: auto;
  max-width: 550px;
  max-height: 550px;
  object-fit: contain; /* ensures full image is visible without cropping */
  border-radius: 5px;
}

.hoverBox6 img {
  width: auto;
  height: auto;
  max-width: 400px;
  max-height: 400px;
  object-fit: contain; /* ensures full image is visible without cropping */
  border-radius: 5px;
}

@media (max-width: 1440px) {
  .hoverBox1 {
    position: absolute;
    top: 50px; /* adjust to appear above cards */
    left: 20%; /* center horizontally relative to container */
    transform: translateX(-50%);
    display: flex;
    flex-direction: column; /* change to row for side preview */
    gap: 10px;
    padding: 10px;
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none; /* makes it so the hover box is not staying when hovered */
    z-index: 1000;
  }

  .hoverBox1 img {
    width: auto;
    height: auto;
    max-width: 400px;
    max-height: 400px;
    object-fit: contain; /* ensures full image is visible without cropping */
    border-radius: 5px;
  }
  .hoverBox2 img {
    width: auto;
    height: auto;
    max-width: 350px;
    max-height: 350px;
    object-fit: contain; /* ensures full image is visible without cropping */
    border-radius: 5px;
  }

  .hoverBox3 img {
    width: auto;
    height: auto;
    max-width: 450px;
    max-height: 450px;
    object-fit: contain; /* ensures full image is visible without cropping */
    border-radius: 5px;
  }

  .hoverBox4 img {
    width: auto;
    height: auto;
    max-width: 350px;
    max-height: 350px;
    object-fit: contain; /* ensures full image is visible without cropping */
    border-radius: 5px;
  }

  .hoverBox5 img {
    width: auto;
    height: auto;
    max-width: 450px;
    max-height: 450px;
    object-fit: contain; /* ensures full image is visible without cropping */
    border-radius: 5px;
  }

  .hoverBox6 img {
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 300px;
    object-fit: contain; /* ensures full image is visible without cropping */
    border-radius: 5px;
  }
}

@media (max-width: 1440px) {
  .hoverBox1 {
    position: absolute;
    top: 50px; /* adjust to appear above cards */
    left: 20%; /* center horizontally relative to container */
    transform: translateX(-50%);
    display: flex;
    flex-direction: column; /* change to row for side preview */
    gap: 10px;
    padding: 10px;
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none; /* makes it so the hover box is not staying when hovered */
    z-index: 1000;
  }

  .hoverBox1 img {
    width: auto;
    height: auto;
    max-width: 400px;
    max-height: 400px;
    object-fit: contain; /* ensures full image is visible without cropping */
    border-radius: 5px;
  }
  .hoverBox2 img {
    width: auto;
    height: auto;
    max-width: 350px;
    max-height: 350px;
    object-fit: contain; /* ensures full image is visible without cropping */
    border-radius: 5px;
  }

  .hoverBox3 img {
    width: auto;
    height: auto;
    max-width: 450px;
    max-height: 450px;
    object-fit: contain; /* ensures full image is visible without cropping */
    border-radius: 5px;
  }

  .hoverBox4 img {
    width: auto;
    height: auto;
    max-width: 350px;
    max-height: 350px;
    object-fit: contain; /* ensures full image is visible without cropping */
    border-radius: 5px;
  }

  .hoverBox5 img {
    width: auto;
    height: auto;
    max-width: 450px;
    max-height: 450px;
    object-fit: contain; /* ensures full image is visible without cropping */
    border-radius: 5px;
  }

  .hoverBox6 img {
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 300px;
    object-fit: contain; /* ensures full image is visible without cropping */
    border-radius: 5px;
  }
}

@media (max-width: 440px) {
  .cards {
    display: flex;
    flex-direction: column;
  }
  .randomtext {
    margin-bottom: 50px;
  }
}
