.footercontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: #4b4a4a;
  font-family: monospace;

  /* keep footer at the bottom */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  z-index: 999; /* ensures it's above other content */
}

p {
  font-size: 20px;
}

.contact {
  display: flex;
  align-items: center;
  gap: 5px;
}

.links {
  padding-top: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.contact a {
  cursor: pointer;
  text-decoration: none; /* optional */
  color: inherit; /* optional, keeps same color as footer */
}

.contact a:hover {
  color: rgb(190, 133, 125);
}

@media (max-width: 440px) {
  .footercontainer {
    background-color: #ffcfcf;
    font-size: 8px;
  }
}
