.footercontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: #4b4a4a;

  /* keep footer at the bottom */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  z-index: 999; /* ensures it's above other content */
}

.contact ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5px;
}

.contact li {
  cursor: pointer;
}

.contact li:hover {
  color: rgb(190, 133, 125);
}
