.navbarcontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
  color: rgb(44, 44, 44);
}

.link {
  text-decoration: none;
  color: inherit;
  position: relative; /* needed for the ::after */
  transition: color;
}

/* Hover underline */
.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px; /* distance from text */
  width: 0%;
  height: 1px; /* thickness of line */
  background-color: rgb(190, 133, 125); /* underline color */
}

.link:hover::after {
  width: 100%;
}

.sitename {
  cursor: pointer;
  font-size: 20px;
}

.sitename:hover {
  color: rgb(190, 133, 125);
}

.navigation {
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: bolder;
}

.navigation ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 450px;
}

.navigation li {
  cursor: pointer;
}

.navigation li:hover {
  color: rgb(190, 133, 125);
}
