.navbarcontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 50px;
  color: rgb(44, 44, 44);
}

.link {
  text-decoration: none;
  color: inherit;
}

.sitename {
  cursor: pointer;
  font-size: 20px;
}

.sitename:hover {
  color: rgb(190, 133, 125);
}

.navigation {
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: bolder;
}

.navigation ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 450px;
}

.navigation li {
  cursor: pointer;
}

.navigation li:hover {
  color: rgb(190, 133, 125);
}
