.navbarcontainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background-color: #ffcfcf;
  color: rgb(44, 44, 44);
  z-index: 1000;
}

.link {
  text-decoration: none;
  color: inherit;
  position: relative; /* needed for the ::after */
  transition: color;
}

/* Hover underline */
.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 1px;
  background-color: rgb(190, 133, 125);
}

.link:hover::after {
  width: 100%;
}

.sitename {
  cursor: pointer;
  font-size: 20px;
}

.sitename:hover {
  color: rgb(190, 133, 125);
}

.navigation {
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: bolder;
}

.navigation ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 450px;
}

.navigation li {
  cursor: pointer;
}

.navigation li:hover {
  color: rgb(190, 133, 125);
}

@media (max-width: 440px) {
  .navigation ul {
    gap: 50px;
  }
}
