.singlepagecontainer {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 2.5rem;
  margin: 0 auto;
  padding: 2rem;
  color: #333;
  align-items: start;
}

/* LEFT COLUMN */

.leftColumn {
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: lighter;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  position: sticky;
  top: 80px; /* your navbar height + margin */
  align-self: start;
}

.description {
  font-size: 15px;
}

.projectLink {
  display: inline-block;
  margin-top: 0.5rem;
  font-weight: 500;
  text-decoration: none;
  color: #333;
}

.projectLink:hover {
  text-decoration: underline;
  color: rgb(190, 133, 125);
}

.projectLink2 {
  display: inline-block;
  margin-top: 0.5rem;
  font-weight: 500;
  text-decoration: none;
  color: #333;
}

.projectLink2:hover {
  text-decoration: underline;
  color: rgb(190, 133, 125);
}

/* TECH STACK */

.techStack {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-top: 1rem;
}

.techIconWrapper {
  display: flex;
  align-items: center;
}

.techIcon {
  font-size: 1.6rem;
}

/* RIGHT COLUMN */

.rightColumn {
  display: block;
}

.projectImage {
  width: 97%;
  height: auto;
  display: block;
  object-fit: fill;
}

.extraImageWrapper {
  margin-top: 1.5rem; /* spacing between images */
}

/* MOBILE */

@media (max-width: 768px) {
  .singlepagecontainer {
    grid-template-columns: 1fr;
  }

  .leftColumn {
    position: static;
  }

  .rightColumn {
    order: -1;
  }
}
