.singlepagecontainer {
  padding: 2rem;
}

.techStack {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.techIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  color: rgb(190, 133, 125);
}
.techIcon span {
  font-size: 12px;
  margin-top: 4px;
}
